.App {
  background-color: #282c34;
  color: #fafafa;
}

.friend-info {
  /* size */
  max-width: 850px;

  /* spacing */
  margin: 0px auto 25px auto;
  padding: 20px 50px 10px 50px;

  /* border */
  border: 1px white solid;
  border-radius: 10px;
}

.friend-form {
  /* size */
  max-width: 500px;

  /* spacing */
  margin: 25px auto;
  padding: 25px;

  /* border */
  border: 1px white solid;
  border-radius: 10px;
}